.blockContainer {
  display: flex;
  flex-wrap: wrap;
}

.blockItem {
  margin: 10px auto;
  max-width: 90%;
  list-style: none;
  border: solid var(--raspberry) 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockItem .sideNote a {
  text-align: center;
}

.careerJourney p {
  margin-top: auto;
}

.blockItem p span {
  font-weight: bold;
}

/* tablet */
@media (min-width: 450px) {
  .blockItem {
    width: 45%;
  }
}

/* desktop */
@media (min-width: 1000px) {
  .blockItem {
    width: 30%;
  }
}
