.blockContainer {
  display: flex;
  flex-wrap: wrap;
}

.blockItem {
  margin: 10px auto;
  max-width: 90%;
  list-style: none;
  border: solid var(--raspberry) 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockItem p span {
  font-weight: bold;
}

.blockItem a h3:hover,
.blockItem a h3:active {
  color: var(--grey);
}

.blockItem .sideNote a {
  text-align: center;
}

/* intro page */

.intro .blockItem h3 {
  margin: 10px 0 auto;
}

.intro p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

/* cv page */

.careerJourney .sideNote h3 {
  color: var(--raspberry);
  font-size: 18px;
}

.careerJourney .sideNote h3:hover {
  color: var(--grey);
}

/* skills page */
.techSkills .blockContainer {
  background-color: var(--raspberry);
}

.techSkills .blockItem {
  border: solid 2px var(--candy);
}

.techSkills .blockItem:first-child,
.techSkills .blockItem:last-child {
  width: 100%;
}

.skillsInfo {
  margin-bottom: auto;
}

.devicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
}

.devicons i {
  font-size: 70px;
  color: white;
  margin: 5px;
}

/* tablet */
@media (min-width: 450px) {
  .blockItem {
    width: 45%;
  }
}

/* desktop */
@media (min-width: 1000px) {
  .blockItem {
    width: 30%;
  }
}
